---
import "../styles/global.css";
import "../styles/smallheader.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N50CAMP</title>
  </head>
  <body>
    <header>
      <img src="/images/n50campLogo.svg" alt="n50camp Logo">
    </header>
    <main style="padding-top: 0;">
        <a href="/">&lt; Home</a>
        <h2>Code Of Conduct</h2>
        <p>Unser Ziel ist es ein belästigungs- und diskriminierungsfreies Zeltlager für alle zu bieten, egal welches Geschlecht, sexuelle Orientierung, körperliche und geistige Fähigkeiten, der äußeren Erscheinung, der religiösen Zu gehörigkeit oder Herkunft.
        <br>Falls Wesen auch nach Aufforderung belästigendes oder diskriminierendes Verhalten nicht unterlassen, behält sich die Projektleitung vor, Maßnahmen dagegen zu ergreifen bis zum Ausschluss der Veranstaltung. Im Falle von groben Verstößen ergreifen wir zudem direkte Maßnahmen.</p>

        <h3>In Stichpunkten</h3>
        <ul>
            <li>Be kind to each other.</li>
            <li>Haltet euch an die Hackerethik</li>
            <li>Keine zuordbaren Bilder von anderen Menschen</li>
            <li>Respektiert die Privatsphäre anderer</li>
            <li>Beachtet Einverständnis. Dies beinhaltet auch: Körperkontakt, Flirten, etc. nur mit Zustimmung</li>
            <li>Keine sexuellen Handlungen auf dem Eventgelände, auch nicht in Zelten</li>
            <li>Keine selbst- oder fremdgefährdung</li>
            <li>Respektiert das Eigentum anderer</li>
            <li>Beachtet bitte die Nachtruhe Nach 22 Uhr bitten wir, nicht bei den Zelten zu stören. Dies beinhaltet z.B. hörbare Musik, laute Gespräche, etc.</li>
            <li>Hinterlasst den Zeltplatz schöner als ihr ihn vorgefunden habt</li>
        </ul>
        <h3>Sorgen, Ängste?</h3>
        <p>
            Unser Awareness-Team bestehend aus Temlou und Zeri ist für euch da. Während des Events sind sie neben persönlich auch auf Matrix unter @awareness:n50.lat erreichbar.
        </p>
        <h3>Sonstige Fragen?</h3>
        <p>
            Unsere Projektleitung (Amy und stapatum) ist ebenfalls für euch da. Auch wenn wir als Orga nicht viele Resourcen haben werden, zwischenmenschliche Probleme zu lösen, sind wir jederzeit für euch ansprechbar. Wir sind auf dem Event auf Matrix unter @camp:n50.lat und bereits davor via E-Mail unter camp@n50.lat erreichbar.
        </p>
    </main>
    <footer>
      <nav aria-label="Rechtliche Informationen">
        <a href="https://n50.lat/privacypolicy.html">Datenschutzerklärung</a>
        <a href="https://n50.lat/imprint.html">Impressum</a>
        <a href="https://github.com/zebreus/n50-camp">Seite bearbeiten</a>
      </nav>
    </footer>
  </body>
</html>