---
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N50CAMP</title>
    <style>
        p {
            margin: 1em 0;
        }
    </style>
  </head>
  <body>
    <main style="padding-top: 150px">
        <img src="/src/images/n50campLogo.svg" alt="n50camp Logo">
        <a href="/">&lt; Home</a>
        <h2>Lageplan</h2>
        <p>Hier noch ein paar Erklärungen zu den Orten:</p>
        <ul style="font-size: 0.9em;">
            <li><b>Zeltplatz:</b> Hier dürft ihr eure Zelte platzieren. Wenn man nicht im Campingstuhl einschläft, wird hier genächtigt</li>
            <li><b>Spaßwiese:</b> Hier sind jegliche Freizeitaktivitäten (Frisbee, Ballsportarten, Wikingerschach, etc.) vorgesehen</li>
            <li><b>Open Air Hackcenter:</b> Für die Leute, die mit ihrem Laptop im Internet surfen wollen, ist das hier genau der richtige Platz - mit erstaunlich frischer Luft und genügend Schattenplätzen</li>
            <li><b>Veranstaltungsjurte:</b> Hier sind die Vorträge abends geplant. Für alles andere Tagsüber ebenfalls verwendbar. Wenn sich jemand am DJen ausprobieren möchte, ist er willkommen sich mit der Anlage zu verbinden</li>
            <li><b>Bar & Küche:</b> Hier gibt es das ewige Frühstück sowie jeden Abend eine richtige Mahlzeit. Zudem findet man hier die Bar für Getränke und frischen Tschunk</li>
            <li><b>Sanitäranlagen:</b> Bei dem aktuellen Wetter ist es wichtig, sich auch frisch halten zu können. Es gibt Duschen und Toiletten um möglichst allen hygienischen Bedürfnissen gerecht zu werden.</li>
            <li><b>Ziegenopferungsaltar:</b> F̵̢̠̈́͐͆r̷̘̯̠̀͐́ǐ̸̗̰͝ṣ̴̨̍̕c̸̲͛̐h̸̙̳̒e̸͙̦͉̐͛s̵̱͂ͅ ̷̰̗͉̊̋͠I̸̭̋̒͘n̶̛͔ṭ̷̛͈͒̊ȇ̷̦͇ṛ̶͑̎͘ṋ̸̮͚̀͛̐e̶̤͐͗t̶̨͓̫̋͑͂ ̷̢̈̎̌ą̸͙̣͂ṳ̶̤͊ͅs̸̗̠̃͌͠ ̴̡̤̾̽̎͜d̶͕̳̞͒́͊e̸̗͌r̵͚̣̅ ̸̬̼͗͊̿T̸̫̩̐e̴͛͜l̵̥̗̿̈ë̴̗́̑̍k̸̨̬̗̿ǫ̷̰̱͋́̕m̴͙͆ ̶̝̜͚͐͌H̶͉͗̇̂ö̵̢̪̙͐̅ĺ̴̛̩̿l̴͍̘͆͋ě̶͖̙</li>
        </ul>
        <img src="/src/images/lageplan.png" alt="Lageplan des Eventgeländes">
        <h3>Bilder des Zeltplatzes</h3>
        <p>Der Zeltplatz</p>
        <img src="/src/images/platz1.jpeg" alt="Drohnenbild des Platzes">
        <p>Das Open Air Hackcenter</p>
        <img src="/src/images/platz2.jpeg" alt="Drohnenbild des Platzes">
        <p>Der Dorfplatz - die Jurte steht beim Camp woanders...</p>
        <img src="/src/images/platz3.jpeg" alt="Drohnenbild des Platzes">
        <p>Der Altar mit Sitzkreis und Kreuz - potentiell gut, falls man eine Auszeit braucht</p>
        <img src="/src/images/platz4.jpeg" alt="Drohnenbild des Platzes">
    </main>
    <footer>
      <nav aria-label="Rechtliche Informationen">
        <a href="https://n50.lat/privacypolicy.html">Datenschutzerklärung</a>
        <a href="https://n50.lat/imprint.html">Impressum</a>
        <a href="https://github.com/zebreus/n50-camp">Seite bearbeiten</a>
      </nav>
    </footer>
  </body>
</html>