---
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N50CAMP</title>
  </head>
  <body>
    <header>
      <img src="/images/n50campLogo.svg" alt="n50camp Logo">
    </header>
    <main style="padding-top: 0">
        <a href="/">&lt; Home</a>
        <h2>Merch</h2>
        Frischer Merch - heiß und fettig! Vorzubestellen bis zum 27.06. um 20 Uhr in <a href="https://tickets.n50.lat/n50/n50camp/">unserem Ticket-Shop</a>
        <h3>Pullis (53€)</h3>
        <img src="/images/pullischwarz.png" alt="Pulli in schwarzem Design">
        <img src="/images/pulliweiß.png" alt="Pulli in weißem Design">
        <h3>Shirts (24€)</h3>
        <img src="/images/shirtschwarz.png" alt="Shirt in schwarzem Design">
        <img src="/images/shirtweiß.png" alt="Shirt in weißem Design">
    </main>
    <footer>
      <nav aria-label="Rechtliche Informationen">
        <a href="https://n50.lat/privacypolicy.html">Datenschutzerklärung</a>
        <a href="https://n50.lat/imprint.html">Impressum</a>
        <a href="https://github.com/zebreus/n50-camp">Seite bearbeiten</a>
      </nav>
    </footer>
  </body>
</html>